<div class="container">
  <div class="row">
    <div class="col-md-3">
      <h4>Contribute</h4>
      <p>Please submit any issues, bugs and proposals via GitHub Issues:<br/>
        <a href="<%- site.github_issues_link %>" style="font-weight: bold;"><%- site.title %> in GitHub</a><br/>
        Thank you for finding time to help us!</p>
    </div>
    <div class="col-md-3">
      <h4>Credits</h4>
      <table>
        <tr>
          <td>
            <a href="http://ffmpeg.org" target="_blank" class="box"
               style="display:block;width:70px">FFmpeg</a>
            <a href="https://github.com/json-c/json-c" target="_blank" class="box"
               style="display:block;width:70px">json-c</a>
          </td>
          <td>
            <a href="https://www.libsdl.org" target="_blank" class="box" style="display:block;width:70px">SDL</a>
            <a href="https://redis.io" target="_blank" class="box"
               style="display:block;width:70px">Redis</a>
          </td>
        </tr>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <b><%- company.copyright %></b>
    </div>
    <div class="col-md-4">
      <b> Email: <a href="mailto:<%- support.contact_email %>"><%- support.contact_email %></a></b>
    </div>
    <div class="col-md-4">
      <b><a href="/"><%- site.title %></a> | <a href="/help">Support</a></b>
    </div>
  </div>
</div>